<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ReqRestPassword</title>
</head>
<body>
<b>Hello {{ username }}</b>
<p>You are receiving this because you (or someone else) have requested the reset of the password for your account in RQS.</p>
<p>Please click on the following link to complete the process:</p>
<a href="{{url}}">Reset Password</a>
<p>If you did not request this, please ignore this email and your password will remain unchanged.</p>
<p>From</p>
<p>Admin RQS</p>
</body>
</html>